<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema_Carnicería.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sistema_Carnicería.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>184.175.77.148</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>smartsof_tomasbenitez</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>smartsof_tomasbenitez</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>tomasbenitez</value>
            </setting>
        </Sistema_Carnicería.Properties.Settings>
    </applicationSettings>
</configuration>